{% extends 'base.html' %}
{% load humanize %}

{% block title %} Lista Mobiliarios {% endblock %}

{% block content %}
{% if furnitures %}
{% for furniture in furnitures %}
<div class="row m-2 justify-content-center">
    <div class="col-10 card shadow-sm">
        <div class="card-body">
            <div class="card-title">
                {{furniture.title}}
                <h5>Gs. {{furniture.price|intcomma}}</h5>
                <footer>
                    Ofrecido por <span>{{furniture.user}}</span>
                    | Ubicación {{furniture.location}}
                </footer>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col card shadow-sm text-center">
        <h5 class="m-2">Ofertas no encontradas</h5>
    </div>
</div>
{% endif %}
{% endblock %}