{% extends 'base.html' %}
{% load humanize %}

{% block title %} Lista Mobiliarios {% endblock %}

{% block content %}
{% if entity %}
{% for furniture in entity %}
<div class="row m-2 justify-content-center">
    <div class="col-10 card shadow-sm">
        <div class="card-body">
            <div class="row g-0">
                <div class="card-title col-10">
                    <a href="{% url 'core:show_detail' id=furniture.id %}"
                    class="fw-bolder link-underline link-underline-opacity-0">{{furniture.title}}</a>
                    <h5>{{furniture.price|intcomma}}</h5>
                    <footer>
                        Ofrecido por <span>{{furniture.user}}</span>
                        | Ubicación {{furniture.location}}
                    </footer>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    {% if user == furniture.user %}
                    <a href="{% url 'furnitures:edit_furniture' id=furniture.id %}" class="btn btn-warning me-1 btn-sm">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm me-1" data-bs-toggle="modal"
                        data-bs-target="#delete{{furniture.id}}">
                        <i class="bi bi-trash-fill"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="delete{{furniture.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">ELIMINAR OFERTA</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Seguro que quieres elimar la oferta: {{furniture.title}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'furnitures:delete_furniture' id=furniture.id %}"
                                        class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endfor %}
<div>
    {% include 'includes/paginator.html' %}
    </div>
{% else %}
<div class="row mt-5 justify-content-center">
    <div class="col card shadow-sm text-center">
        <h5 class="m-2">Ofertas no encontradas</h5>
    </div>
</div>
{% endif %}
{% endblock %}