.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.image-container {
    width: 200px; /* Ancho máximo del contenedor */
    height: 200px; /* Alto máximo del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.responsive-image {
    max-width: 100%; /* Ancho máximo de la imagen */
    max-height: 100%; /* Alto máximo de la imagen */
    object-fit: contain; /* Controla cómo se ajusta la imagen (puedes usar 'cover' o 'contain' según tus preferencias) */
}
