{% extends "base.html" %}

{% block title %} Registro {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="card mt-5" style="padding: 20px;">
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Hubo un error con tu formulario de registro.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <h1>Registro</h1>
            <br>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}