{% extends "base.html" %}
{% load humanize %}

{% block title %} Mi Cuenta {% endblock %}


{% block content %}
{% if profile %}
<div class="container">
    <div class="row">
        <div class="card mt-5" style="padding: 20px;">
            <h1>Mi Cuenta</h1>
            <br>
            <div class="row">
                <div class="col">
                    <h2>Perfil de {{ profile.user.username }}</h2>

                    <img src="{{ profile.profile_img.url }}" alt="{{ profile.user.username }}">
                    <br>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <p>{{ user.email }}</p>
                    <p>Se unió el {{ user.date_joined }}</p>
                    <br>
                    {% if user == profile.user %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#changeProfilePictureModal">Cambiar foto de perfil</button>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="changeProfilePictureModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cambiar foto de perfil</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Agregar el formulario para cambiar la imagen de perfil aquí -->
                                    <form method="post" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Col para mis publicaciones -->
                <div class="col">
                    <h2>Mis Publicaciones</h2>
                    {{ publication.title }}

                    {% for publication in all_publications %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{% url 'core:show_detail' id=publication.id %}">
                                        <h5 class="card-title">{{ publication.title }}</h5>
                                    </a>
                                    <p class="card-text">Gs. {{ publication.price|intcomma }}</p>
                                    <p class="card-text"><small class="text-muted"> {{publication.created_at}} </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No tienes publicaciones.</p>
                    {% endfor %}
                </div>
                <!-- Col para deseados -->
                <div class="col">
                    <h2>Mis Favoritos</h2>
                    {% for favorite in profile.favorites.all %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{% url 'core:show_detail' id=favorite.id %}">
                                        <h5 class="card-title">{{ favorite.title }}</h5>
                                    </a>
                                    <p class="card-text">Gs. {{ favorite.price|intcomma }}</p>
                                    <p class="card-text"><small class="text-muted"> {{favorite.created_at}} </small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No tienes publicaciones.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}