{% extends 'base.html' %}

{% block title %} Ofertar Electrónica {% endblock %}

{% block content %}
<div class="container mt-5 col-6">
    <div class="row">
        <div class="card p-3">
            <h1>Electrónica</h1>
            <form action="{% url 'electronics:electronic_add' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label for="category_id" class="form-label">Categoria:</label>
                            <select class="form-select" id="category_id" name="category_id">
                                <option selected>Seleccionar Categoria</option>
                                {% for category in categories %}
                                <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            {{ form.price.label_tag }}
                            {{ form.price }}
                            {% if form.price.errors %}
                                <div class="text-danger">
                                    {{ form.price.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.images.label_tag }}
                            {{ form.images }}
                        </div>
                        <div id="additional_image_fields">
                            <!-- Input adicional -->
                        </div>
                        <br>
                        <button type="button" id="add_image_field" class="btn btn-secondary">Agregar más imágenes</button>
                        <br>
                        <br>
                        <div class="mb-3">
                            {{ form.location.label_tag }}
                            {{ form.location }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            {{ form.phone1.label_tag }}
                            {{ form.phone1 }}
                        </div>
                        <div class="mb-3">
                            {{ form.phone2.label_tag }}
                            {{ form.phone2 }}
                        </div>
                        <div class="mb-3">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Ofertar</button>
            </form>
        </div>
    </div>
</div>
<script>
document.getElementById("add_image_field").addEventListener("click", function () {
    var newInput = document.createElement("input");
    newInput.type = "file";
    newInput.name = "images";
    newInput.className = "form-control";
    newInput.multiple = true;
    document.getElementById("additional_image_fields").appendChild(newInput);
});
</script>
{% endblock %}