{% extends 'base.html' %}
{% load humanize %}

{% block title %} Detalles de publicación {% endblock %}

{% block content %}
<div class="row m-2 justify-content-center">
    <div class="col-10 card shadow-sm">
        <div class="card-body">
            <div class="row g-0 mb-2">
                <div class="col-11">
                    <h3>{{publication.title}}</h3>
                </div>
                <div class="col-1">
                    {% if user.is_authenticated %}
                    {% if fav %}
                    <a href="{% url 'core:favorite_control' id=publication.id%}" class="btn btn-secondary btn-sm">
                        <i class="bi bi-star-fill"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'core:favorite_control' id=publication.id%}" class="btn btn-success btn-sm">
                        <i class="bi bi-star-fill"></i>
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'users:login'%}" class="btn btn-success btn-sm">
                        <i class="bi bi-star-fill"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row g-0">
                <div class="col">
                    <p><span class="fw-bolder">Usuario:</span> {{publication.user}}</p>
                </div>
                <div class="col">
                    <p class="h-25 m-1"><span class="fw-bolder">Contacto:</span> {{publication.phone_number1}}</p>
                    {% if publication.phone_number2 %}
                    <p class="h-25 m-1"><span class="fw-bolder">Contacto 2:</span> {{publication.phone_number2}}</p>
                    {% endif %}
                    <p class="h-25 m-1"><span class="fw-bolder">Email:</span> {{publication.email}}</p>
                </div>
                <div class="col text-center">
                    <h2>GS {{publication.price|intcomma}}</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p class="m-0"><span class="fw-bolder">Ubicación:</span> {{publication.location}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div id="miCarrusel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicadores -->
                    <!-- Imágenes del carrusel -->
                    <div class="carousel-inner">
                        {% for image in publication.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="d-flex justify-content-center">
                                <img src="{{ image.image.url }}" alt="{{ publication.title }} Image" style="max-width: 100%;" class="mx-auto">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Controles del carrusel -->
                    <a class="carousel-control-prev" href="#miCarrusel" data-bs-slide="prev" id="custom-prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#miCarrusel" data-bs-slide="next" id="custom-next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <p class="h-25 m-0"><span class="fw-bolder">Publicado el:</span> {{publication.created_at}}</p>
    </div>
    <div class="row">
        <p class="fw-bolder mt-2 mb-0">Descripción:</p>
        <p>{{publication.description}}</p>
    </div>
</div>
</div>
</div>

<script>
    $(document).ready(function () {
        $("#miCarrusel").carousel();
    });
</script>
{% endblock %}